/* Menghilangkan scrollbar namun tetap memungkinkan scroll */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Mengatur gambar dan layout */
section.bg-gray-800 .flex {
    display: flex;
    overflow-x: auto;
    padding-bottom: 2rem;
    scroll-behavior: smooth;
}

section.bg-gray-800 .flex .flex-shrink-0 {
    width: 24rem; /* Ukuran card 1 */
    margin-right: 2rem;
}

section.bg-gray-800 .flex .flex-shrink-0 img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

section.bg-gray-800 .flex .flex-shrink-0 h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.bg-gray-800 .flex .flex-shrink-0 p {
    font-size: 1rem;
    color: #d1d5db; /* Menyesuaikan warna teks */
}
